# =============== #
# # Unity generated #
# # =============== #
Temp/
Library/
obj/
.vs/
Logs/

#
# # ============ #
# # OS generated #
# # ============ #
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#
# # ============ #
# # IntelliJ project files #
# # ============ #
.idea
*.iml
out
gen